// PATH
$font-folder:'../fonts/';
$img-folder: '../images/';

// COLORS
$c-primary:			#1066AA;
$c-blue:			#003DAF;
$c-white:           #ffffff;

// BACKGROUND COLOURS
$bg-orange:          #F69437;

// FONTS
$font-base:			'GothamPro', sans-serif;
$font-base-bold:	'GothamPro-Bold', sans-serif;